h1 {
    color: red;
    background-color: yellow;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

p {
    background-color: green;
}

li {
    list-style-type: none;
}

.special {
    color: orange;
    font-weight: bold;
}

li em {
    color: rebeccapurple;
}

a:hover {
    color: pink;
}

a:visited {
    font-size: 100px;
}

.text {
    margin-left: 10%;
    margin-right: 10%;
    /* transform: rotate(0.05turn); */
}

div {
    padding: 50px;
}

.nari {
    background-color: tomato;
}
/* body {
    background-color: bisque;
}
@media (min-width:40em) {
    body {
        background-color: tan;
    }
} */